{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "wrld-react"
  ],
  "env": {
    "jest": true
  },
  "overrides": [{
    "files": [".ts", ".tsx"],
    "extends": [
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ]
  }]
}
